<!-- $Id$ -->
<div align="center">
  <div class="page-header">
    <b><%= t '.title', :default => @game.name %></b>(<%= @game.tapfile %>)
  </div>

  <dl class="dl-horizontal">
    <dd><%= link_to 'Play Java Version', game_path(@game, format: :jnlp) %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                games_path, :class => 'btn btn-default'  %>
    </dd>
  </dl>
  <div>
    <%= content_tag :canvas, 'Game', width: 512, height: 384, id: 'applet',
                    class: 'applet', style: "border:1px solid #000000;",
                    data: { load: "#{request.protocol}#{request.host_with_port}/#{@game.tapfile}",
                            rom: "#{request.protocol}#{request.host_with_port}/spectrum.rom" } %>
  </div>
  <!--<canvas id="myCanvas" width="200" height="100"></canvas>-->
  <!--<applet name="qaop" archive="/qaop.jar" code="Qaop" width="320" height="256" alt="Oh dear no applet">-->
  <!--  <param name="load" value="/<%#= @game.tapfile %>"/>-->
  <!--</applet>-->

  <%= image_tag "SpectrumKeyboard.png" %>
</div>
